@page
@model DemoRazorPage.Pages.Account.LoginModel
@{
}
<form method="post">
    <div>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" />
    </div>
    <button type="submit">Login</button>
</form>
